*{
    margin: 0px;
}
h1{
    color: white;
    background-color: #081b31;
    text-align: center;
    line-height: 5rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
     height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:50% ;
}

.scores{
    display: flex;
    margin-top: 50px;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}
.user-score{
    margin-right: 50px;
}
.players{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5rem;
}
#users{
    margin-right: 20px;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.5rem;
     background-color: aquamarine;
    color: white; 
} 
   
