*{
    margin: 0px;
}
h1{
    color: white;
    background-color: sienna;
    text-align: center;
    line-height: 5rem;
}
.images{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
   
    /* border-radius: 50%; */
}
.img1:hover{
    border: 5px solid black;
}
.img2:hover{
    border: 5px solid black;
}
.img3:hover{
    border: 5px solid black;
}
img{
     height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius:50% ;
   margin-right: 20px;
}

.scores{
    display: flex;
    margin-top: 50px;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}
.user-score{
    margin-right: 50px;
}
.players{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5rem;
}
#users{
    margin-right: 20px;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.5rem;
    /* background-color: aquamarine;
    color: white; */
}