h1{
    color: white;
    background-color: red;
   font-family: 'Franklin Gothic Medium', 
   'Arial Narrow', Arial, sans-serif;
   text-align: center; 
   width: 100%;
   
   
}

#image{
    float: right;
}
