*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 80vh;
}
h2{
    color: white;
}


.container{
  height: 60vh;
  background-color: rgb(126, 213, 226);
  width: 50vh;
  padding: 2rem;
  border-radius: 1rem;
}

.amount{

}

.dropdown{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.msg{
    margin: 20px 0 0 60px;
    color: white;
}
.btn{
    margin-top: 30px;
    padding: 10px;
    background-color: purple;
    color: white;
    border: 1px solid purple;
    border-radius: 0.8rem;
    text-align: center;
    width: 100%;
}