* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    background-color: #0f1111;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;

}

.nav-logo {
    height: 60px;
    width: 100px;

}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.logo {
    height: 40px;
    width: 100%;
    background-image: url("amaxon-logo.png");
    background-size: cover;
}

/* 2 Box */
.first-text {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 23px;
}

.sec-text {
    font-size: 1rem;
    margin-left: 2px;
}

.address-in {
    display: flex;
    align-items: center;
}

/* 3 Box */
.nav-search-bar {
    display: flex;
    justify-content: space-evenly;
    /* align-self: center; */
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;


}

.select-bar {
    background-color: #f3f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
    text-align: center;
}

.search-icon {
    background-color: #ffb24e;
    color: black;

}