* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;

}

/* NavBar */
.nav-bar {
    height: 118px;
    color: white;
    background-color: #f85606;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Links */
.links {
    align-self: flex-start;
    justify-content: end;
}

.links-options p {
    display: inline;
    margin-left: 20px;
    font-size: 12px
}

.links-options :hover {
    color: wheat
}

/* Logo */
.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    width: 130px;
    height: 40px;
    background-image: url("./assets/darazlogo.png");
    background-size: cover;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    height: 45px;
    width: 700px;
    background-color: white;
    padding: 20px;

}


.search {
    height: 40px;
   width: 600px;
   border: none;
   font-size: 0.83rem;

}