* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;

}

/* First NavBar */
.navbar-above {
    height: 18px;
    color: white;
    background-color: #f85606;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

/* Links */


.links-options p {
    display: inline;
    margin-left: 20px;
    font-size: 12px
}

.links-options :hover {
    color: wheat
}

/* Second Navbar */
.navbar-bottom {
    height: 118px;
    color: white;
    background-color: #f85606;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 11px 0px 0px 40px;

}

/* Logo */
.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    width: 130px;
    height: 40px;
    background-image: url("./assets/darazlogo.png");
    background-size: cover;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 688px;
    background-color: white;
    padding-left: 15px;

}

.search-icon {
    width: 45px;
    height: 45px;
    background-color: #FFE1D2;
    color: #f85606;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search {
    height: 40px;
    width: 100%;
    border: none;
    font-size: 0.83rem;

}

/* Cart */
.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}