* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #05163a;
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #895ed2;
    padding: 1rem;
}


.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-bar a:hover {
    cursor: pointer;
    color: #895ed2;
    background-color: white;
}

.heading {
    margin: 0px 0 0 100px;
}

.name {
    color: #895ed2;
}

.heading {
    font-size: 40px;
}


.sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    margin-top: 2.3rem;
}

.left {
    width: 40%;
}

img {
    height: 400px;
    background-size: cover;
}

.right {
    width: 40%;
}

hr {
    border: none;
    border-top: 3px solid #895ed2;
    text-align: center;
    height: 5px;
    margin: 40px 60px 0 60px;
}

/* About */
#about {
    margin-top: 3rem;
    height: 100vh;
    margin: 5rem;

}

/* #about h2{
    font-size: 2rem;
    margin-bottom: 3rem;
}
#about p{
    font-size: 1rem;
} */
#Skills {
    margin-top: 3rem;
    height: 100vh;
    margin: 5rem;
}

#experience {
    margin-top: 3rem;
    height: 100vh;
    margin: 5rem;
}

#contact-me {
    margin-top: 3rem;
    height: 100vh;
    margin: 5rem;
}

html {
    scroll-behavior: auto;
}

#element {}