@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(./assets/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(./assets/Raleway-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d7d7d7;
    color: #000;

}

/* Logo */
header img {
    height: 90px;
}

/* HomePage */

#Home {
    height: 85vh;
}

#Home,
header {
    background-image: url("./assets/frame.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    height: 6rem;

}

/* NavBAr */
.nav-bar {
    margin-left: 10rem;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 147px;
    height: 46px;
    padding: 0.9rem;
    font-family: 'Montserrat-Bold';

}

.nav-bar a:hover {
    cursor: pointer;
    color: #131362;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
}

/* Heading */
.heading {
    margin: 0px 20rem 0 0;
    font-size: 25px;
    font-family: 'Raleway-Bold';
}

.name {
    font-size: 60px;
    font-family: 'Raleway-Bold';

}

#element {
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    color: #909090;
}

/* Social Buttons */
.socials {
    margin-top: 50px;
    margin-right: 50px;
}

.socials button {
    padding: 7px;
    width: 100px;
    background-color: #d7d7d7;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
    margin-right: 10px;
    border-radius: 11px;
    background-color: #c4c4c4;

}

.socials a,
i {
    margin-left: 3px;
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    font-size: 1rem;
}

/* Hero Section */
.sections {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.left,
.right {
    width: 40%;

}

.left {
    height: 20rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img {
    height: 400px;
    background-size: cover;
}

hr {
    border: none;
    border-top: 2rem solid #131362;
    text-align: center;
    height: 5px;
    margin: 40px 60px 0 60px;
}


/* Body Section */
#about,
#Skills,
#projects,
#contact-me {
    height: 80vh;
    margin: 5rem;
}



/* About */
#about img {
    float: right;
    width: 500px;
    height: 250px;
    background-size: cover;
    padding: 10px;
    border: 3px solid #131362;
    margin-right: 1rem;
}

#about h2,
#Skills h2,
#projects h2,
#contact-me h2 {
    font-size: 18px;
    margin-bottom: 3rem;
    font-family: 'Montserrat-Bold';
    letter-spacing: 20%;
    text-align: center;
    padding: 5px 15px;
}

h2 span {
    border: 5px solid black;
    padding: 15px 25px;
}

#about p {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 10px;
}

/* ul li{
 list-style: symbols(); 
}
 */

/* Skills Section */


#Skills p {
    font-size: 1rem;
    padding: 10px;
}

#Skills h3 {
    font-family: 'Montserrat-Bold';

}

#Skills img {
    height: 50px;
}

.using,.learning {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    padding: 10px;
    margin-top: 1rem;
}

.using-items,.learning-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}



/* Projects Section */


/* Contact Ssction */