* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: auto;
}

body {
     background: linear-gradient(
        to bottom,
        #05163a 60%,
        #ffffff 60%
    );
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: sticky; */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #895ed2;
    padding: 1rem;
}


.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-bar a:hover {
    cursor: pointer;
    color: #895ed2;
    background-color: white;
}

.heading {
    margin: 0px 0 0 100px;
}

.name {
    color: #895ed2;
}

.heading {
    font-size: 40px;
}

.socials{
 margin-left: 10rem;

}
.socials button{
    padding: 5px;
    width: 100px;
    background-color: #895ed2;
    border: 1px solid black;
    margin-right: 10px;
}
.socials a,i{
    margin-left: 3px;
    text-decoration: none;
    color: white;
    /* font-size: 15px; */
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    margin-top: 2.3rem;
}

.left {
    width: 40%;
}

img {
    height: 400px;
    background-size: cover;
}

.right {
    width: 40%;
}

hr {
    border: none;
    border-top: 3px solid #895ed2;
    text-align: center;
    height: 5px;
    margin: 40px 60px 0 60px;
}

/* About */
#about {
    margin-top: 3rem;
    height: 70vh;
    margin: 5rem;

}


#about img {
    float: right;
    width: 500px;
    height: 250px;
    background-size: cover;
    padding: 10px;
    border: 2px solid #895ed2;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

#about p {
    font-size: 1rem;
    margin-top: 2rem;
    padding: 10px;
}



#Skills {
    margin-top: 3rem;
    height: 70vh;
    margin: 5rem;
}


#Skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#Skills p {
    font-size: 1rem;
    /* margin-top: 2rem; */
    padding: 10px;
}


#projects {
    margin-top: 3rem;
    height: 70vh;
    margin: 5rem;
}

#experience {
    margin-top: 3rem;
    height: 70vh;
    margin: 5rem;
}

#contact-me {
    margin-top: 3rem;
    height: 70vh;
    margin: 5rem;
}

#element {}