.banner{
    background-image: url(./assets/banner.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: 50%;
    background-attachment: fixed;
}
header{
    background-color: black;
}

nav  {
    display: flex;
  
    background-color: rgb(57, 55, 55);
    
}
nav a{
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}
.flex_align_right{
    margin-left: auto;
}
nav a:hover{
    background-color: white;
    color: black;
}

section{
    text-align: center;
}

section  h2 span{
    text-align: center;
    padding: 10px 55px;
    color: white;
    border-radius: 20px;
    background: linear-gradient(to right,#f5d837,#bbb812 );
}
@media screen and (max-width:700px) {
    nav  {
        flex-direction: column;
    }
    .flex_align_right{
    margin-left: 0 ;
}
}